.Negrito{
    font-weight: bold;
    text-align: center;
    background-color: #616BFF;
    font-size: 20px;
color:white;
}

.Alinhamento{
    text-align: center;
}

.body {
    font-family: Arial, sans-serif;
  }
  .Lorem-alinhamento{
    text-align:justify ;
    margin: 80px;
    background-color: #ADB3FF;
  }
.Padding{
    font-weight: bold;
    text-align: center;
    background-color: #616BFF;
    font-size:20px;
    color: white;

  }

.texto-2-alinhamento{
padding: 80px;
background-color:#ADB3FF;
text-align: justify;

}

.texto-3{
    border: 20px;
    border-color:#ADB3FF ;
    border-style: solid;
    text-align: left;
    margin-top: 4px;
    margin-right: 6px
   


}

.separação{
  
    border-bottom: 1px solid #ADB3FF; /* Estilo da linha */
    margin: 20px 0; /* Espaçamento entre seções */
}

.section{
  text-align: center;
  border: 6px; 
  margin: 6px;
  color:purple ;
  position: relative;
  transition: color 0.3s; /* Transição da cor da letra */
}
  

.section:hover{
color: blue;
}

/* Remove o sublinhado de todos os links */
a {
  text-decoration: none;
}




